common --enable_bzlmod

common --lockfile_mode=off

test --test_output=errors
test --test_summary=terse

# best practice to disable
common --nolegacy_external_runfiles

# off by default on windows, required for this module
startup --windows_enable_symlinks

# off by default on windows, required for this module
common --enable_runfiles
