load("//toolchain_type:toolchain_type.bzl", "TOOLCHAIN_TYPE")
load("//:toolchain_info.bzl", "toolchain_info")

PLATFORMS = [
    "@platforms//cpu:x86_64",
    "@platforms//os:macos",
]

toolchain_info(
    name = "toolchain",
    cpu = "x86_64",
    {macos_x86_64_binary}
    os = "macos",
)

toolchain(
    name = "x86_64",
    exec_compatible_with = PLATFORMS,
    target_compatible_with = PLATFORMS,
    toolchain = ":toolchain",
    toolchain_type = TOOLCHAIN_TYPE,
)
